language: ruby
sudo: false

script:
  - echo "No build required. Just deployment"

deploy:
  provider: s3
  skip_cleanup: true
  local_dir: landing-page
  detect_encoding: true
  access_key_id: 
    secure: "EE6ntizUp/3AoziwoK36pdEnvQCB/tVI2uOzmJUL3NSI7kWueWRVEsL+zzpAV3kcy393lMFB6uEVWyvhix+OzYfhJx6GeYOQ92Y+aZG53D82zc3XXVbUXl+lP5PC1WT13UevQ3KybEH9TTCJBikTev/1tbqVqKOQC2Q6XrTzvac=" 
  secret_access_key: 
    secure: "SsjuBc4XqOi5ZPIckbXxikB8gLnBUzzxvNgAZc6KcuoG/fh5BoxFACytiYgg8yiyqzhpX34AQ1tfx5wSLQwlv/Izx8w/GBd85VgTdwNd1VGh0v1h/lhU+KF+xixYa/IlPG+9rCZ3XTWHnC8e7GZ1iH08evNbm/AfsZbW9HOA97s="
  bucket: openmm.org
  endpoint: openmm.org.s3-website-us-west-1.amazonaws.com
  region: us-west-1
  on:
    branch: master
